<li>
<div class="image">
    <h4> <span>{{burger_name}}</span></h4>
    <button class="delete btn-sm btn btn-danger" data-id="{{id}}">
        DELETE!
    
    </button>
        {{#if beDevoured}} <button class="change-devoured btn-sm btn btn-warning" data-id="{{id}}" data-newDevoured ="{{beDevoured}}">DEVOUR IT!</button>{{/if}}
</div>
</li>
